################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/InventoryManagement/bin
/.vs/InventoryManagement/v14/.suo
/InventoryManagement/obj/Debug
/InventoryManagement/obj/Release
/InventoryManagement/InventoryManagement.csproj.user
/InventoryManagement.API/bin
/InventoryManagement.API/obj/Debug
/InventoryManagement.API/obj/Release
/InventoryManagement.Business/bin
/InventoryManagement.Business/obj/Debug
/InventoryManagement.Business/obj/Release
/InventoryManagement.DataAccess/bin
/InventoryManagement.Business/InventoryManagement.Business.csproj.user
/InventoryManagement.API/InventoryManagement.API.csproj.user
/InventoryManagement.DataAccess/obj/Debug
/InventoryManagement.DataAccess/obj/Release
/InventoryManagement.Entity/bin
/InventoryManagement.Entity/obj/Debug
/InventoryManagement.Entity/obj/Release
/InventoryManagement.DataAccess/InventoryManagement.DataAccess.csproj.user
*.msl
*.csdl
*.cache
*.ssdl
*.pdb
PublishProfiles
